<% title ["Metro Style 网站设计"].join(' - ') %>
<% meta_keywords ["Metro Style 网站设计", "网站建设，网站推广，公关软文，电子商务，企业信息化，Ruby on Rails"].join(' - ') %>
<% meta_description ["Metro Style 网站设计，团队为企业提供企业策划、网站建设、网络推广、公关软文、电子商务等一站式服务！"].join(' - ') %>


<h2>项目案例</h2>

<ul class="projects">
<% @product_items.each do |item| %>
    <li><%=link_to image_tag(item.image_path, :width => '140px', :height => '80px'), product_item_path(item) %>
        <h4><%= link_to item.title, product_item_path(item) %></h4>
        <%= truncate_content(item.description, 120) %>
    </li>
<% end %>
</ul>

<hr/>
<div class="tags"><%= will_paginate @product_items, :next_label => "下一页", :prev_label => "上一页" %></div>