<% title ["Metro Style 网站设计"].join(' - ') %>
<% meta_keywords ["Metro Style 网站设计", "网站建设，网站推广，公关软文，电子商务，企业信息化，Ruby on Rails"].join(' - ') %>
<% meta_description ["Metro Style 网站设计，团队为企业提供企业策划、网站建设、网络推广、公关软文、电子商务等一站式服务！"].join(' - ') %>

<h2><%=@product_item.title %></h2>
<div class="img-box">
  <%=image_tag @product_item.image_path, :width => '560px' %>
  <h5><%=@product_item.title %></h5>
  <%# other some words %>
</div>

<%= simple_format @product_item.description %>