<% title ["联系我们", "MetroStyle网站设计"].join(' - ') %>
<% meta_keywords ["联系我们", "MetroStyle网站设计, Metro UI CSS, Metry Style Web, 网页设计，网站开发"].join(' - ') %>
<% meta_description "Metro Style风格是最近流行起来的软件设计风潮，简洁明快的UI布局，给用户一种全新的体验，把握Metro Style设计就是把握软件设计潮流,如果您需要帮助，请联系我们" %>

<% if flash[:notice] %>
  <div class="note"><%= flash[:notice] %></div>
<% end %>


<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="4">
      <div class="live-tile white">
        <article class="article">
          <h2>我们从事网站设计工作好多年，您值得信赖！</h2>
          <hr />
          <%=render 'form' %>
        </article>
      </div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div class="icon">
        <span><%=image_tag "/assets/back.png", :width => "64px" %></span>
        <div><h2>联系我们</h2></div>
      </div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div class="live-tile grey">
        <div style="margin: 20px; color: #fff;">
          豆瓣ID ：&nbsp; &nbsp;<a href="http://www.douban.com/people/enjoypicture/" target="_blank" style="color: blue;"> krongk</a><br/>
          <br/>
          <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=77632132&amp;site=qq&amp;menu=yes" target="_blank"><img src="http://wpa.qq.com/pa?p=2:77632132:41" alt="" border="0" /></a> 
          <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=406354072&amp;site=qq&amp;menu=yes" target="_blank"><img src="http://wpa.qq.com/pa?p=2:406354072:41" alt="" border="0" /></a> 
          <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2576455908&amp;site=qq&amp;menu=yes" target="_blank"><img src="http://wpa.qq.com/pa?p=2:2576455908:41" alt="" border="0" /></a> 
          
          电子邮箱：<a href="mailto:master@inruby.com">master@inruby.com</a>
          <br />
          <hr />
        </div>
      </div>
    </li>

    <li data-row="3" data-col="2" data-sizex="2" data-sizey="1">
      <div class="live-tile black">
        <span class="tile-title"><span style="color: #fff;">联系电话</span></span>
        <div style="margin: 10px 25px; color: #fff; font-size: 36px; font-weight: 700;">
          <br/>15928661802
        </div>
      </div>
    </li>

  </ul>
</div>