<% title ["联系我们", "MetroStyle网站设计"].join(' - ') %>
<% meta_keywords ["联系我们", "MetroStyle网站设计, Metro UI CSS, Metry Style Web, 网页设计，网站开发"].join(' - ') %>
<% meta_description "Metro Style风格是最近流行起来的软件设计风潮，简洁明快的UI布局，给用户一种全新的体验，把握Metro Style设计就是把握软件设计潮流,如果您需要帮助，请联系我们" %>

<% if flash[:notice] %>
  <div class="note"><%= flash[:notice] %></div>
<% end %>


<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="4">
      <div class="live-tile white">
        <article class="article">
          <h2>联系我们</h2>
          <hr />
          <%=render 'form' %>
        </article>
      </div>
    </li>
  </ul>
</div>