<div class="bshare">
  <a class="bshareDiv" href="http://www.bshare.cn/share">分享按钮</a><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#uuid=14aef883-fe5e-4c43-b8f6-cbf83629892b&amp;style=5&amp;fs=4&amp;bgcolor=Orange&amp;pophcol=3"></script>      
</div>