<footer class="appbar">
  <nav>
    <ul id="menu" class="appbar-buttons">
      <li> <a href="/" class="home"><img src="/assets/1pixel.gif" alt="home"></a> <span class="charm-title">Home</span> </li>
      <li> <a href="/about" class="about"><img src="/assets/1pixel.gif" alt="about"></a> <span class="charm-title">About</span> </li>
      <li> <a href="http://www.twitter.com/dgreenwell" onClick="javascript:trackExternal(this);" target="_blank" class="twitter"><img src="/assets/1pixel.gif" alt="twitter"></a> <span class="charm-title">Twitter</span> </li>
    </ul>
  </nav>
  <a class="etc">•••</a>
</footer>