<footer class="appbar">
  <nav>
    <ul id="menu" class="appbar-buttons">
      <li> <a href="/" class="home"><img src="/assets/1pixel.gif" alt="home"></a> <span class="charm-title">首页</span> </li>
      <li> <a href="/about" class="about"><img src="/assets/1pixel.gif" alt="about"></a> <span class="charm-title">关于</span> </li>
      <li> <a href="/contact" target="_blank" class="twitter"><img src="/assets/1pixel.gif" alt="twitter"></a> <span class="charm-title">联系</span> </li>
    </ul>
  </nav>
  <a class="etc">•••</a>
</footer>